@media (width >= 1440px){
    .box{
        width: 540px;
        height: 332px;
    }
    h6,small{
        color: var(--Neon-Green, #53FFAA);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Manrope;
        font-size: 13px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 4.086px;
        margin-left: 208px;
    }
    h1{
        width: 444px;
        height: 114px;
        color: var(--Light-Cyan, #CEE3E9);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Manrope;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.3px;
        margin-left: 48px;
    }
    .midbot{
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        margin: 48px 0 0 48px;
    }
    .line{
        width: 196px;
        height: 1px;
        flex-shrink: 0;
    }
    .loadingi{
        position: absolute;
        width: 180px;
        height: 215px;
        left: 43.7%;
    }
}

@media (width >= 1920px){
    .loadingi{
        position: absolute;
        width: 180px;
        height: 215px;
        left: 45.3%;
    }
}